
.react-chatbot-kit-chat-container {
    min-height: 100vh !important;
    width: 100% !important;
}

.react-chatbot-kit-chat-inner-container {
    height: 95% !important;
}
.react-chatbot-kit-chat-message-container {
    height: 90% !important;
}