
.react-chatbot-kit-chat-container {
    height: 700px !important;
    width: 300px !important;
}

.react-chatbot-kit-chat-inner-container {
    height: 680px !important;
}
.react-chatbot-kit-chat-message-container {
    height: 620px !important;
}